@charset "UTF-8";

 * {
     margin : 0; padding:0;
     box-sizing : border-box;
  }
  main {
    width: 80%;
    margin : 0 auto;
  }
 
  table, th, td  {
     border:1px solid black;
     border-collapse: collapse;
  }
  
  ul,li { list-style: none;  }
  
  a        { text-decoration:none;  color: black   }
  a:hover  { text-decoration:underline;  }
  
  h2 {
    margin: 15px 0px;
  }
  
  #menu    { 
		width  : 800px;
		margin : 30px 0;
	
		td { 
			text-align : center; 
			padding    : 15px 10px;
			background-color: grey;
			color : white;
			font-weight : bold;
			border : 1px solid silver;
		
		
			&:hover {
			background-color: silver;
			color : grey;
		}
		a {
			text-decoration : none;
			width   : 100%;
			display : block;
			color   : white;
		}
	}
}
 
  
  
  
  